@font-face {
  font-family: "Alef";
  font-display: swap;
  src: url("../fonts/Alef-Regular.ttf") format("ttf"), url("../fonts/Alef-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alef";
  font-display: swap;
  src: url("../fonts/Alef-Bold.ttf") format("ttf"), url("../fonts/Alef-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Italic.ttf") format("ttf"), url("../fonts/Rubik-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.ttf") format("ttf"), url("../fonts/Rubik-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.ttf") format("ttf"), url("../fonts/Rubik-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tinos";
  font-display: swap;
  src: url("../fonts/Tinos-Regular.ttf") format("ttf"), url("../fonts/Tinos-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tinos";
  font-display: swap;
  src: url("../fonts/Tinos-Bold.ttf") format("ttf"), url("../fonts/Tinos-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: calc(1194px + 2rem);
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}

.container-lg {
  max-width: calc(960px + 2rem);
}

.container-md {
  max-width: calc(790px + 4rem);
}

.bdrs-50 {
  border-radius: 50%;
}

.btn-border {
  color: #ffffff;
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.btn-border::before {
  content: '';
  width: 107%;
  height: 125%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-image-source: linear-gradient(265deg, rgba(255, 255, 255, 0.15) 20%, #ffffff 50%, rgba(255, 255, 255, 0.15) 80%);
}

.btn-border:hover {
  background: transparent;
  border: 1px solid #ffffff;
}

.btn-border:hover::before {
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.2);
}

.btn-normal {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  border: 1px solid;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  border-image-slice: 1;
  border-width: 1px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  border-image-source: linear-gradient(265deg, rgba(255, 255, 255, 0.15) 20%, #ffffff 50%, rgba(255, 255, 255, 0.15) 80%);
}

.btn .text {
  position: relative;
  z-index: 1;
}

.section {
  padding: 100px 0 90px;
}

.section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section__title {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.5625rem;
  margin: 0 30px 0 0;
}

.section__line {
  height: 1px;
  opacity: 0.2;
  background: #313643;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section__big {
  position: absolute;
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 9.375rem;
  line-height: 10.75rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.07;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #313643;
  text-align: left;
  margin-bottom: 30px;
}

.section__text:last-child {
  margin-bottom: 0;
}

.section__text.rtl {
  text-align: right;
}

.header .navbar__info {
  z-index: 88;
}

.header .navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.header .navbar__mask {
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  background: #000;
  opacity: 0.6;
  left: 0;
  z-index: -55;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__speech.active {
  color: #ffffff;
}

.header .navbar__social {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar__social-link {
  width: 20px;
  height: 20px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__social-link .icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  fill: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__social-link:hover .icon {
  fill: #ffffff;
}

.header .navbar__link {
  cursor: pointer;
  display: inline-block;
}

.header .navbar__burger {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
  position: relative;
  padding: 9px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 88;
}

.header .navbar__burger-line {
  height: 2px;
  width: 22px;
  display: inline-block;
  background: #313643;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__burger::before, .header .navbar__burger::after {
  content: '';
  left: 50%;
  width: 22px;
  height: 2px;
  position: absolute;
  display: inline-block;
  background: #313643;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .navbar__burger::before {
  top: 11px;
}

.header .navbar__burger::after {
  bottom: 11px;
}

.header .navbar__burger.active .navbar__burger-line {
  width: 0;
}

.header .navbar__burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header .navbar__burger.active::after {
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header__content .breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.header__content .breadcrumb__item:first-child {
  margin-left: 0;
}

.header__content .breadcrumb__item::before {
  content: '';
  width: 18px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../svg/arrow-right.svg");
  opacity: 0.6;
}

.header__content .breadcrumb__item.home::before {
  background-image: url("../svg/home-icon.svg");
}

.header__content .breadcrumb__item.active::before {
  opacity: 1;
}

.header__content .breadcrumb__item.active .breadcrumb__link {
  color: #ffffff;
}

.header__content .breadcrumb__link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  line-height: 1rem;
}

[dir='rtl'] .slick-slider .slick-track,
[dir='rtl'] .slick-slider .slick-list {
  direction: ltr;
}

[dir='rtl'] .slick-slide {
  float: left;
}

[dir='rtl'] .section__text {
  text-align: right;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: calc(960px + 2rem);
  }
}

@media screen and (max-width: 920px) {
  .container {
    max-width: calc(790px + 2rem);
  }
  .section__big {
    font-size: 7.375rem;
    line-height: 8.75rem;
  }
  .header .navbar__wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #313643;
    padding: 100px 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 77;
  }
  .header .navbar__list {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar__item {
    margin: 5px 0 0;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
  .header .navbar__item:active {
    color: #f5f6f7;
    border-color: #f5f6f7;
  }
  .header .navbar__item .dropdown {
    width: 100% !important;
  }
  .header .navbar__link {
    width: 100%;
  }
  .header .navbar__action {
    margin-top: 30px;
  }
  .header .navbar__tel {
    display: none !important;
  }
  .header .navbar__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .header .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar.open-menu .navbar__wrapper {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .header .navbar.open-menu .navbar__mask {
    visibility: visible;
    z-index: 0;
  }
}

@media screen and (max-width: 680px) {
  .container {
    max-width: calc(590px + 2rem);
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(470px + 2rem);
  }
  .section {
    padding: 80px 0;
  }
  .section__title {
    font-size: 3rem;
    line-height: 3.375rem;
  }
  .section__big {
    font-size: 8.375rem;
    line-height: 9.75rem;
  }
  .header .navbar {
    padding: 0;
  }
  .header .navbar__list {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .container {
    max-width: 100%;
  }
  .section {
    padding: 35px 0 40px;
  }
  .section__head {
    margin-bottom: 20px;
  }
  .section__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-right: 20px;
  }
  .section__big {
    font-size: 5rem;
    line-height: 5.75rem;
  }
  .section__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 20px;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-navbar {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 99;
}

.header-navbar::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14.71%, #01040c), color-stop(91.11%, rgba(1, 4, 12, 0)));
  background: linear-gradient(180deg, #01040c 14.71%, rgba(1, 4, 12, 0) 91.11%);
  opacity: 0.7;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: #020611;
  opacity: 0.6;
  z-index: 0;
}

.header .navbar {
  padding: 10px 0;
}

.header .navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .navbar__logo {
  width: 220px;
  height: 75px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .navbar__logo img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.header .navbar__langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.header .navbar__speech {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  margin: 0 10px;
}

.header .navbar__speech:hover {
  color: #ffffff;
}

.header .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .navbar__item {
  margin: 0 25px;
  position: relative;
}

.header .navbar__item .dropdown {
  top: 100%;
  left: 0;
  width: 120%;
  position: absolute;
  background: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  opacity: 0;
  z-index: -55;
  visibility: hidden;
}

.header .navbar__item .dropdown:hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
  visibility: visible;
}

.header .navbar__item .dropdown__link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 15px 20px 10px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  color: #313643;
  font-size: 0.875rem;
  line-height: 1rem;
}

.header .navbar__item .dropdown__link:hover {
  color: #ffffff;
  background: #313643;
}

.header .navbar__link {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__link:hover {
  color: #ffffff;
}

.header .navbar__link:hover ~ .dropdown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.header .navbar__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .navbar__tel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  position: relative;
}

.header .navbar__tel-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header .navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 22px;
  margin-left: 50px;
}

.header .navbar__btn .icon {
  width: 13px;
  height: 13px;
  fill: #ffffff;
  margin-right: 10px;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.header__content {
  position: relative;
  text-align: left;
  grid-column: 2 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 90px;
}

.header__title {
  color: #ffffff;
  margin: 30px 0 10px;
  font-size: 4.375rem;
  line-height: 5rem;
  font-family: 'Tinos', serif;
  font-weight: 700;
}

.header__big {
  top: 70px;
  left: 10px;
  color: #ffffff;
}

.header__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__date .icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}

.header__date .text {
  margin-left: 10px;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.header .next {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .next-btn {
  position: relative;
  width: 160px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 10;
  outline: none;
}

.header .next-btn:hover .next-icon {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header .next-bg {
  fill: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .next-icon {
  fill: #313643;
  width: 20px;
  height: 20px;
  z-index: 11;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog {
  padding-top: 70px;
}

.blog__wrapper {
  position: relative;
  width: 100%;
}

.blog__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__slider .slick-list {
  width: 100%;
  height: 100%;
}

.blog__slider .slick-track {
  width: 100%;
  height: 100%;
}

.blog__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 0 1rem;
  padding: 0 1rem;
}

.blog .article {
  text-align: left;
  outline: none;
}

.blog .article__text {
  color: #313643;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 40px;
}

.blog .article__title {
  color: #313643;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 10px;
}

.blog .article__list {
  margin-bottom: 35px;
  list-style: none;
}

.blog .article ul.article__list .article__item::before {
  content: '';
  min-width: 7px;
  min-height: 7px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #313643;
  border-radius: 50%;
}

.blog .article ol.article__list {
  counter-reset: list-counter;
}

.blog .article ol.article__list .article__item {
  counter-increment: list-counter;
}

.blog .article ol.article__list .article__item::before {
  content: counter(list-counter) ".";
  color: #313643;
  font-size: 1em;
  line-height: 1.625rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.blog .article__item {
  color: #313643;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 10px;
  position: relative;
}

.blog .article__item::before {
  margin-right: 10px;
}

.blog .article__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(200px, 250px);
      grid-template-rows: minmax(200px, 250px);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 45px;
}

.blog .article__smallimg {
  position: relative;
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0px 37px 55px -20px rgba(4, 3, 37, 0.23);
          box-shadow: 0px 37px 55px -20px rgba(4, 3, 37, 0.23);
}

.blog .article__smallimg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blog .article__bigimg {
  position: relative;
  width: 100%;
  height: 525px;
  margin-bottom: 40px;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0px 37px 55px -20px rgba(4, 3, 37, 0.23);
          box-shadow: 0px 37px 55px -20px rgba(4, 3, 37, 0.23);
}

.blog .article__bigimg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blog .article__reviews {
  padding: 40px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #f5f6f7;
  margin-top: 75px;
}

.blog .reviews__author {
  position: relative;
}

.blog .reviews__author .icon {
  position: absolute;
  top: -60px;
  width: 90px;
  height: 90px;
  fill: #313643;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog .reviews__name {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #313643;
  font-size: 1.25rem;
  line-height: 1.625rem;
  position: relative;
}

.blog .reviews__name::before {
  content: '';
  top: 50%;
  left: -10px;
  width: 3px;
  height: 40px;
  position: absolute;
  background: #313643;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog .reviews__text {
  color: #313643;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.blog__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 1.2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.blog__action-btn:hover .blog__btn, .blog__action-btn:active .blog__btn {
  background: #313643;
  cursor: pointer;
}

.blog__action-btn:hover .blog__btn::before, .blog__action-btn:active .blog__btn::before {
  opacity: 0;
}

.blog__action-btn:hover .blog__btn .icon, .blog__action-btn:active .blog__btn .icon {
  fill: #ffffff;
}

.blog__action-btn:active .blog__btn {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.blog__action-text {
  color: #313643;
  width: 120px;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.blog__btn {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  border-radius: 50%;
  border: 1px solid #313643;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  margin: 0 10px;
}

.blog__btn .icon {
  width: 18px;
  height: 18px;
  fill: #313643;
}

.footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.footer::after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 3, 0.9);
  z-index: 0;
}

.footer__wrapper {
  position: relative;
  z-index: 5;
}

.footer .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .navbar__logo {
  width: 220px;
  height: 75px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .navbar__logo img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer .navbar__item {
  margin: 0 25px;
}

.footer .navbar__link {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .navbar__link:hover {
  color: #ffffff;
}

.footer .navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .navbar__social-link {
  width: 20px;
  height: 20px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .navbar__social-link .icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  fill: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .navbar__social-link:hover .icon {
  fill: #ffffff;
}

.footer .navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 22px;
  margin-left: 50px;
}

.footer .navbar__btn .icon {
  width: 13px;
  height: 13px;
  fill: #ffffff;
  margin-right: 10px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.footer__copy {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.footer__author {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

[dir='rtl'] .header .navbar__langs {
  margin-left: auto;
  margin-right: 30px;
}

[dir='rtl'] .header .navbar__btn {
  margin-left: auto;
  margin-right: 55px;
}

[dir='rtl'] .header .navbar__btn .icon {
  margin-right: auto;
  margin-left: 10px;
}

[dir='rtl'] .header__content {
  text-align: right;
}

[dir='rtl'] .header__content .breadcrumb__item {
  margin-left: 0;
  margin-right: 10px;
}

[dir='rtl'] .header__content .breadcrumb__item::before {
  margin-right: 0;
  margin-left: 10px;
}

[dir='rtl'] .header__big {
  left: 100px;
}

[dir='rtl'] .header__breadcrumb {
  margin-right: 0;
  margin-left: 90px;
}

[dir='rtl'] .header__date .text {
  margin-left: 0;
  margin-right: 10px;
}

[dir='rtl'] .blog .article {
  text-align: right;
}

[dir='rtl'] .blog__prev {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

[dir='rtl'] .blog__prev .blog__btn {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

[dir='rtl'] .blog__prev .blog__action-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

[dir='rtl'] .blog__next {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

[dir='rtl'] .blog__next .blog__btn {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

[dir='rtl'] .blog__next .blog__action-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
}

[dir='rtl'] .footer .navbar__btn {
  margin-left: 0;
  margin-right: 55px;
}

[dir='rtl'] .footer .navbar__btn .icon {
  margin-right: 0;
  margin-left: 10px;
}

@media screen and (max-width: 1540px) {
  .header {
    height: 85vh;
  }
}

@media screen and (max-width: 1100px) {
  .header .navbar__langs {
    margin-left: 20px;
  }
  .header .navbar__speech {
    margin: 0 5px;
  }
  .header .navbar__item {
    margin: 0 15px;
  }
  .header .navbar__btn {
    margin-left: 30px;
  }
  .footer .navbar__item {
    margin: 0 15px;
  }
  .footer .navbar__btn {
    margin-left: 30px;
  }
}

@media screen and (max-width: 920px) {
  .header__container {
    -ms-grid-columns: 10% 1fr;
        grid-template-columns: 10% 1fr;
  }
  .header__breadcrumb {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0;
  }
  .footer .navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .navbar__list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 30px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 680px) {
  .header__content {
    width: 100%;
    padding: 0 1rem;
  }
  .header__title {
    font-size: 3.375rem;
    line-height: 4rem;
  }
  .header__big {
    left: 30px;
    font-size: 8.375rem;
    line-height: 9.75rem;
  }
  .blog__article {
    margin: 0;
    padding: 0;
  }
  .blog .article__reviews {
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-column-gap: 0;
            column-gap: 0;
    padding: 25px;
  }
  .blog .reviews__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    margin-bottom: 15px;
  }
  .blog .reviews__author .icon {
    top: -40px;
    width: 70px;
    height: 70px;
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  .blog .reviews__name {
    margin-left: 100px;
  }
  .blog .reviews__name::before {
    content: none;
  }
  .blog__action {
    margin-left: 0;
    margin-right: 0;
  }
  .blog__prev .blog__btn {
    margin-left: 0;
  }
  .blog__next .blog__btn {
    margin-right: 0;
  }
  .footer .navbar__item {
    margin-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 65vh;
  }
  .header .navbar__action {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header__content {
    padding: 0;
  }
  .header__title {
    font-size: 3rem;
    line-height: 3.375rem;
  }
  .header__big {
    left: 20px;
    top: 60px;
    font-size: 8rem;
    line-height: 7rem;
  }
  .blog {
    padding: 50px 0;
  }
  .blog .article__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .blog .article__text {
    margin-bottom: 30px;
  }
  .blog .article__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
  }
  .blog .article__smallimg:last-child {
    display: none;
  }
  .blog .article__smallimg, .blog .article__bigimg {
    height: 190px;
  }
  .footer .navbar__item {
    margin: 0 10px;
  }
  .footer .navbar__list {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 25px 0;
  }
}

@media screen and (max-width: 380px) {
  .header {
    height: 50vh;
    background-position: top;
  }
  .header .navbar__logo {
    width: 150px;
    height: 45px;
  }
  .header .navbar__langs {
    margin-left: 15px;
  }
  .header .navbar__social-link {
    margin: 0;
    margin-right: 20px;
  }
  .header .navbar__social-link:last-child {
    margin-right: 0;
  }
  .header .navbar__btn {
    margin-left: 0;
    padding: 17px 20px;
  }
  .header .navbar .next-btn {
    width: 130px;
    height: 40px;
  }
  .header__content .breadcrumb__item::before {
    width: 11px;
    height: 10px;
  }
  .header__content .breadcrumb__link {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
  .header__title {
    font-size: 1.875rem;
    line-height: 2.1875rem;
    margin: 20px 0 10px;
  }
  .header__big {
    top: 50px;
    left: 10px;
    font-size: 6.25rem;
    line-height: 7.1875rem;
  }
  .header__date .icon {
    width: 15px;
    height: 15px;
  }
  .header__date .text {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .blog {
    padding: 35px 0 40px;
  }
  .blog .article__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .blog .article__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 25px;
  }
  .blog .article__list {
    margin-bottom: 30px;
  }
  .blog .article__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .blog .article__item::before {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .blog .article__reviews {
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .blog .reviews__author {
    margin-bottom: 10px;
  }
  .blog .reviews__author .icon {
    top: -30px;
    width: 60px;
    height: 60px;
  }
  .blog .reviews__name {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-left: 90px;
  }
  .blog .reviews__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .blog__action {
    margin-top: 20px;
  }
  .blog__action-text {
    font-size: 0.625rem;
    line-height: 1rem;
    width: 80px;
  }
  .blog__btn {
    width: 40px;
    height: 40px;
  }
  .footer .navbar {
    padding: 30px 0;
  }
  .footer .navbar__logo {
    width: 160px;
    height: 45px;
  }
  .footer .navbar__list {
    padding: 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer .navbar__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 0 0 2px 0;
  }
  .footer .navbar__social-link {
    margin: 0;
    margin-right: 20px;
  }
  .footer .navbar__social-link:last-child {
    margin-right: 0;
  }
  .footer .navbar__btn {
    margin-left: 0;
    padding: 17px 20px;
  }
  .footer__bottom {
    padding: 25px 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=blog.css.map */