@font-face {
  font-family: "Alef";
  font-display: swap;
  src: url("../fonts/Alef-Regular.ttf") format("ttf"), url("../fonts/Alef-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alef";
  font-display: swap;
  src: url("../fonts/Alef-Bold.ttf") format("ttf"), url("../fonts/Alef-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Italic.ttf") format("ttf"), url("../fonts/Rubik-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.ttf") format("ttf"), url("../fonts/Rubik-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.ttf") format("ttf"), url("../fonts/Rubik-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tinos";
  font-display: swap;
  src: url("../fonts/Tinos-Regular.ttf") format("ttf"), url("../fonts/Tinos-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tinos";
  font-display: swap;
  src: url("../fonts/Tinos-Bold.ttf") format("ttf"), url("../fonts/Tinos-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: calc(1194px + 2rem);
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}

.container-lg {
  max-width: calc(960px + 2rem);
}

.container-md {
  max-width: calc(790px + 4rem);
}

.bdrs-50 {
  border-radius: 50%;
}

.btn-border {
  color: #ffffff;
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.btn-border::before {
  content: '';
  width: 107%;
  height: 125%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-image-source: linear-gradient(265deg, rgba(255, 255, 255, 0.15) 20%, #ffffff 50%, rgba(255, 255, 255, 0.15) 80%);
}

.btn-border:hover {
  background: transparent;
  border: 1px solid #ffffff;
}

.btn-border:hover::before {
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.2);
}

.btn-normal {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  border: 1px solid;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  border-image-slice: 1;
  border-width: 1px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  border-image-source: linear-gradient(265deg, rgba(255, 255, 255, 0.15) 20%, #ffffff 50%, rgba(255, 255, 255, 0.15) 80%);
}

.btn .text {
  position: relative;
  z-index: 1;
}

.section {
  padding: 100px 0 90px;
}

.section__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section__title {
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.5625rem;
  margin: 0 30px 0 0;
}

.section__line {
  height: 1px;
  opacity: 0.2;
  background: #313643;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section__big {
  position: absolute;
  font-family: 'Tinos', serif;
  font-weight: 700;
  font-size: 9.375rem;
  line-height: 10.75rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.07;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #313643;
  text-align: left;
  margin-bottom: 30px;
}

.section__text:last-child {
  margin-bottom: 0;
}

.header .navbar__info {
  z-index: 88;
}

.header .navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.header .navbar__mask {
  visibility: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  background: #000;
  opacity: 0.6;
  left: 0;
  z-index: -55;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__speech.active {
  color: #ffffff;
}

.header .navbar__social {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar__social-link {
  width: 20px;
  height: 20px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__social-link .icon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  fill: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__social-link:hover .icon {
  fill: #ffffff;
}

.header .navbar__link {
  cursor: pointer;
  display: inline-block;
}

.header .navbar__burger {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
  position: relative;
  padding: 9px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 88;
}

.header .navbar__burger-line {
  height: 2px;
  width: 22px;
  display: inline-block;
  background: #313643;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar__burger::before, .header .navbar__burger::after {
  content: '';
  left: 50%;
  width: 22px;
  height: 2px;
  position: absolute;
  display: inline-block;
  background: #313643;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .navbar__burger::before {
  top: 11px;
}

.header .navbar__burger::after {
  bottom: 11px;
}

.header .navbar__burger.active .navbar__burger-line {
  width: 0;
}

.header .navbar__burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header .navbar__burger.active::after {
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header__content .breadcrumb__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.header__content .breadcrumb__item:first-child {
  margin-left: 0;
}

.header__content .breadcrumb__item::before {
  content: '';
  width: 18px;
  height: 17px;
  display: inline-block;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../svg/arrow-right.svg");
  opacity: 0.6;
}

.header__content .breadcrumb__item.home::before {
  background-image: url("../svg/home-icon.svg");
}

.header__content .breadcrumb__item.active::before {
  opacity: 1;
}

.header__content .breadcrumb__item.active .breadcrumb__link {
  color: #ffffff;
}

.header__content .breadcrumb__link {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  line-height: 1rem;
}

[dir='rtl'] .slick-slider .slick-track,
[dir='rtl'] .slick-slider .slick-list {
  direction: ltr;
}

[dir='rtl'] .slick-slide {
  float: left;
}

[dir='rtl'] .section__text {
  text-align: right;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: calc(960px + 2rem);
  }
}

@media screen and (max-width: 920px) {
  .container {
    max-width: calc(790px + 2rem);
  }
  .section__big {
    font-size: 7.375rem;
    line-height: 8.75rem;
  }
  .header .navbar__wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #313643;
    padding: 100px 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 77;
  }
  .header .navbar__list {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar__item {
    margin: 5px 0 0;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
  }
  .header .navbar__item:active {
    color: #f5f6f7;
    border-color: #f5f6f7;
  }
  .header .navbar__item .dropdown {
    width: 100% !important;
  }
  .header .navbar__link {
    width: 100%;
  }
  .header .navbar__action {
    margin-top: 30px;
  }
  .header .navbar__tel {
    display: none !important;
  }
  .header .navbar__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .header .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar.open-menu .navbar__wrapper {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .header .navbar.open-menu .navbar__mask {
    visibility: visible;
    z-index: 0;
  }
}

@media screen and (max-width: 680px) {
  .container {
    max-width: calc(590px + 2rem);
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(470px + 2rem);
  }
  .section {
    padding: 80px 0;
  }
  .section__title {
    font-size: 3rem;
    line-height: 3.375rem;
  }
  .section__big {
    font-size: 8.375rem;
    line-height: 9.75rem;
  }
  .header .navbar {
    padding: 0;
  }
  .header .navbar__list {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .container {
    max-width: 100%;
  }
  .section {
    padding: 35px 0 40px;
  }
  .section__head {
    margin-bottom: 20px;
  }
  .section__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-right: 20px;
  }
  .section__big {
    font-size: 5rem;
    line-height: 5.75rem;
  }
  .section__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 20px;
  }
  .header .navbar__wrapper {
    padding-top: 70px;
  }
}

.scope {
  top: 100px;
  right: 60px;
  z-index: 99999;
  position: fixed;
}

.scope.scroll .scope__btn {
  background: #ffffff;
  -webkit-box-shadow: 0px 14px 22px rgba(4, 3, 37, 0.11);
          box-shadow: 0px 14px 22px rgba(4, 3, 37, 0.11);
}

.scope.scroll .scope__btn::after {
  background: linear-gradient(245deg, rgba(49, 54, 67, 0.3) 0%, #313643 50%, rgba(49, 54, 67, 0.3) 100%);
}

.scope.scroll .scope__btn:hover {
  background: rgba(49, 54, 67, 0.2);
}

.scope.scroll .scope__close {
  fill: #313643;
}

.scope.scroll .scope__list {
  -webkit-box-shadow: 0px 7px 24px rgba(4, 8, 23, 0.11);
          box-shadow: 0px 7px 24px rgba(4, 8, 23, 0.11);
}

.scope__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.scope__btn {
  background: rgba(255, 255, 255, 0.2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scope__btn::after {
  content: '';
  top: 50%;
  left: 50%;
  width: calc(50px + 2px);
  height: calc(50px + 2px);
  border-radius: 50%;
  background: transparent;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scope__btn .btn {
  background: #ffffff;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  border-image-slice: 1;
  position: relative;
  z-index: 9;
  border-width: 1px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scope__btn .btn .icon {
  width: 25px;
  height: 25px;
  fill: #313643;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scope__btn:hover {
  background: rgba(49, 54, 67, 0.2);
}

.scope__btn:hover .btn {
  background: #313643;
}

.scope__btn:hover .btn .icon {
  fill: #ffffff;
}

.scope__points {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
  z-index: -5;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 100px;
  right: 0;
  position: absolute;
  width: 210px;
}

.scope__points.active {
  opacity: 1;
  z-index: 888;
  pointer-events: visible;
  -webkit-transform: none;
          transform: none;
}

.scope__close {
  fill: #ffffff;
  border: none;
  background: transparent;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -25px;
  outline: none;
}

.scope__close .icon {
  width: 15px;
  height: 15px;
}

.scope__list {
  background: #ffffff;
  padding: 7px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scope__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  background: transparent;
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scope__link .text {
  font-size: 0.875rem;
  line-height: 1rem;
  color: rgba(49, 54, 67, 0.8);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  max-width: 130px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.scope__link .icon {
  width: 25px;
  height: 25px;
  fill: #313643;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.scope__link:hover {
  background: rgba(49, 54, 67, 0.1);
}

.scope__link:hover .text {
  color: #313643;
}

[dir='rtl'] .scope {
  right: auto;
  left: 60px;
}

[dir='rtl'] .scope__close {
  left: auto;
  right: -25px;
}

@media screen and (max-width: 680px) {
  .scope {
    right: 16px;
  }
  .scope__btn {
    padding: 4px;
  }
  .scope__btn::after {
    width: 49px;
    height: 49px;
  }
  .scope__btn .btn {
    padding: 10px;
  }
}
/*# sourceMappingURL=iconman.css.map */